@media (min-width: 767px) {
  .describe__container {
    display: flex;
  }

  .describe__content {
    width: 49%;
  }

  .describe__image {
    width: 50%;
  }

  .describe__image img {
    border-radius: 3%;
    width: 100%;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .container {
    padding: 0 24px;
  }

  /* Хедер */
  .header__burger-btn {
    position: relative;
    margin-right: 42px;
  }

  .burger-btn::after {
    content: "";
    position: absolute;
    top: 5px;
    right: -22px;
    display: block;
    width: 2px;
    height: 32px;
    background-color: var(--grey-element-color);
  }

  .header__btns-contact {
    display: block;
    margin-left: auto;
  }

  .contacts button:not(:last-child) {
    margin-right: 11px;
  }

  .header__btns-service {
    margin-left: 42px;
  }

  /* Хироу */
  .container-2 {
    padding: 0 0 0 10px;
  }

  .hero__heading {
    margin-bottom: 32px;
  }

  .heading-1::before {
    left: -11px;
  }

  /* Дискрайб */
  .describe {
    padding-top: 15px;
  }

  .describe__parag {
    margin-bottom: 2px;
    max-width: 85%;
    height: 160px;
    line-height: 20px;
  }

  .describe__text {
    margin-bottom: 19px;
  }
}

@media (min-width: 1060px) {
  .services__list {
    overflow: hidden;
    flex-wrap: wrap;
  }
}

@media (min-width: 1119px) {
  /* Хедер */
  .header {
    position: relative;
    padding-top: 41px;
    background-color: initial;
    z-index: 1;
  }

  .header__container {
    padding: 0 27px 0 31px;
  }

  .header__container .header__burger-btn,
  .header__container .header__logo,
  .header__container .header__btns-contact {
    display: none;
  }

  .header__btns-service {
    margin: 0;
    margin-left: auto;
  }

  .btns-service::before {
    display: none;
  }

  .btns-service {
    display: flex;
    gap: 18px;
  }

  .btns-service button {
    display: flex;
    align-items: center;
    width: 173px;
  }

  .btns-service button span {
    display: block;
    min-width: max-content;
    margin-right: 10px;
  }

  /* Хироу */
  .hero {
    position: relative;
    padding-bottom: 5px;
    margin-top: -79px;
    z-index: 0;
  }

  .container-2 {
    padding: 0 0 0 17px;
  }

  .hero__heading {
    margin-bottom: 10px;
  }

  .heading-1::before {
    left: -17px;
  }

  /* Дискрайб */
  .describe {
    padding-top: 3px;
  }

  .describe__content {
    padding-top: 8px;
  }

  .describe__parag {
    margin-bottom: 7px;
    max-width: 97%;
    height: 160px;
    letter-spacing: 0.5px;
  }

  #more,
  #span {
    display: inline;
  }
}
