@media (min-width: 767px) {
  .hero {
    padding-bottom: 11px;
  }

  .describe {
    padding-top: 5px;
  }

  .describe__container {
    display: flex;
  }

  .describe__content {
    width: 49%;
  }

  .describe__image {
    width: 50%;
  }

  .describe__image img {
    border-radius: 3%;
    width: 100%;
  }

  .brands__list {
    flex-wrap: wrap;
  }

  .swiper-pagination {
    display: none;
  }

  .brands__btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 94%;
  }
}

@media (min-width: 767px) and (max-width: 1119px) {
  /* Брэнды */
  .brands__title {
    padding: 20px 23px;
  }

  .brands__collection {
    padding-bottom: 16px;
    padding-left: 0;
  }

  .brands__list {
    gap: 16px 24px;
  }

  .brands__item:nth-last-child(-n + 5) {
    display: none;
  }

  .swiper {
    width: 96%;
    height: 100%;
  }

  .swiper-slide,
  .swiper-slide a {
    width: 224px;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .container {
    padding: 0 24px;
  }

  /* Хедер */
  .header__burger-btn {
    position: relative;
    margin-right: 42px;
  }

  .burger-btn::after {
    content: "";
    position: absolute;
    top: 5px;
    right: -22px;
    display: block;
    width: 2px;
    height: 32px;
    background-color: var(--grey-element-color);
  }

  .header__btns-contact {
    margin-left: auto;
  }

  .contacts {
    display: flex;
    gap: 16px;
  }

  .header__btns-service {
    margin-left: 42px;
  }

  /* Хироу */
  .container-2 {
    padding: 0 0 0 10px;
  }

  .hero__heading {
    margin-bottom: 32px;
  }

  .heading-1::before {
    left: -11px;
  }

  /* Дискрайб */
  .describe__parag {
    margin-bottom: 2px;
    max-width: 85%;
    height: 160px;
    line-height: 20px;
  }

  .describe__text {
    margin-bottom: 19px;
  }
}

@media (min-width: 1060px) {
  .services__list {
    overflow: hidden;
    flex-wrap: wrap;
  }
}

@media (min-width: 1119px) {
  /* Хедер */
  .header {
    position: relative;
    padding-top: 41px;
    background-color: initial;
    z-index: 1;
  }

  .header__container {
    padding: 0 27px 0 31px;
  }

  .header__container .header__burger-btn,
  .header__container .header__logo,
  .header__container .header__btns-contact {
    display: none;
  }

  .header__btns-service {
    margin: 0;
    margin-left: auto;
  }

  .btns-service::before {
    display: none;
  }

  .btns-service {
    display: flex;
    gap: 18px;
  }

  .btns-service button {
    display: flex;
    align-items: center;
    width: 173px;
  }

  .btns-service button span {
    display: block;
    min-width: max-content;
    margin-right: 10px;
    transition: color 0.2s ease-in-out;
  }

  .btns-service button:hover span {
    color: #ff3e79;
  }

  /* Хироу */
  .hero {
    position: relative;
    padding-bottom: 5px;
    margin-top: -79px;
    z-index: 0;
  }

  .container-2 {
    padding: 0 0 0 17px;
  }

  .hero__heading {
    margin-bottom: 10px;
  }

  .heading-1::before {
    left: -17px;
  }

  /* Дискрайб */
  .describe {
    padding-top: 3px;
  }

  .describe__content {
    padding-top: 8px;
  }

  .describe__parag {
    margin-bottom: 7px;
    max-width: 97%;
    height: 160px;
    letter-spacing: 0.5px;
  }

  #more {
    display: inline;
  }

  /* Брэнды */
  .brands__collection {
    padding-bottom: 0px;
    padding-left: 0;
    margin-bottom: 10px;
  }

  .swiper {
    width: 95%;
    height: 100%;
  }

  .brands__list {
    gap: 16px 32px;
  }

  .brands__item:nth-last-child(-n + 3) {
    display: none;
  }

  .brands__btn {
    width: 95%;
  }
}

@media (max-height: 807px) {
  .sidebar__header {
    padding: 18px 16px 19px 16px;
  }

  .sidebar__nav {
    padding: 2px 20px 2px 0;
  }

  .nav-services__list {
    gap: 12px;
  }

  .nav-services__item a {
    padding: 6px 17px;
  }

  .sidebar__contacts {
    padding: 23px 15px 10px;
  }

  .sidebar__lang {
    padding: 0px 23px 30px 15px;
  }
}

@media (max-height: 667px) {
  .sidebar {
    height: 667px;
  }
}
